// ----------------------------------------------
// Variables Style
// ----------------------------------------------


// colors
$white: #fff !default;
$gray-100: #f6f9fc !default;
$gray-200: #eff4fa !default;
$gray-300: #dfe5ef !default;
$gray-400: #7c8fac !default;
$gray-500: #5a6a85 !default;
$gray-600: #111c2d !default;
$black: #000 !default;

// Color
$blue: #5d87ff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #ff6692 !default;
$orange: #fd7e14 !default;
$yellow: #ffae1f !default;
$green: #13deb9 !default;
$teal: #20c997 !default;
$cyan: #539bff !default;

// Main Colors
$primary: #00a1ff !default;
$secondary: #8965e5 !default;
$success: #00ceb6 !default;
$info: #46caeb !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-200 !default;
$muted: $gray-500 !default;
$dark: $gray-600 !default;
$dark-light: $gray-600 !default;
$light-gray: $gray-100 !default;

// light colors
$light-primary: #d9f1ff;
$light-secondary: #e7e2f3;
$light-info: #e1f5fa;
$light-success: #d2f9f4;
$light-warning: #fff1cc;
$light-danger: #ffe4ec;
$light-indigo: #ebf3fe;


// Theme Colorss
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "muted": $muted,
  "indigo": $indigo,
  "light-primary": $light-primary,
  "light-secondary": $light-secondary,
  "light-info": $light-info,
  "light-success": $light-success,
  "light-warning": $light-warning,
  "light-danger": $light-danger,
  "light-indigo": $light-indigo,
  "dark-light": $dark-light,
  "light-gray": $light-gray,
  ) !default;

// Spacer
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: 12px,
  7: 30px,
  8: 10px,
  9: 20px,
  10: 18px,
  ) !default;

// Common
$min-contrast-ratio: 1.7 !default;

// Margins
$enable-negative-margins: true !default;
$enable-shadows: true !default;

// Global
$text-muted: $muted !default;
$grid-gutter-width: 30px !default;

// Font Weight
$font-weight-lighter: 300 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$font-weight-bolder: 700 !default;
$font-weight-base: 500 !default;

// Buttons
$btn-padding-y: 9px !default;
$btn-padding-x: 16px !default;
$btn-font-weight: 500 !default;
$btn-border-radius: 30px !default;
$btn-box-shadow: unset !default;
$btn-font-size: 14 !default;
$btn-border-radius-lg: 9px !default;

// Font Family
$font-family-sans-serif: "Inter",
  sans-serif !default;
$font-size-base: 0.875rem !default;

// Font Sizes
$font-sizes: (
  1: 10px,
  2: 12px,
  3: 14px,
  4: 16px,
  5: 18px,
  6: 20px,
  7: 24px,
  8: 30px,
  9: 36px,
  10: 40px,
  11: 13px,
  12: 15px,
  14: 48px,
  ) !default;

// Line Heght
$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

// Body
$body-bg: #f8fafd !default;
$body-color: #111c2d99 !default;

// Heading
$headings-color: $dark !default;
$headings-font-weight: 600 !default;

// Border Color
$border-color: #e4ebf0 !default;

// Card
$card-bg: $white !default;
$card-title-color: $dark !default;
$card-subtitle-color: rgba($dark, 0.6) !default;
$card-spacer-y: 24px !default;
$card-spacer-x: 24px !default;
$card-border-width: 0px !default;
$card-border-color: #ebf1f6 !default;
$card-border-radius: 24px;
$card-box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2) !default;

// Border Radius
$border-radius: 9px !default;
$border-radius-sm: 8px !default;
$border-radius-lg: 15px !default;
$border-radius-xl: 12px !default;

// Badges
$badge-font-size: 14px !default;
$badge-font-weight: $font-weight-normal !default;
$badge-padding-y: 5px !default;
$badge-padding-x: 10px !default;
$badge-border-radius: 15px;


// Table
$table-cell-padding-y: 16px !default;
$table-cell-padding-x: 24px !default;
$table-th-font-weight: 600 !default;
$table-striped-bg: $gray-200 !default;
$table-hover-bg: $gray-100 !default;
$table-border-color: #111c2d0d !default;
$table-bg: $white !default;
$table-color: var(--bs-body-color) !default;
$table-cell-padding-y-sm: 12px !default;
$table-cell-padding-x-sm: 12px !default;


// Input
$form-label-color: $gray-600;
$form-label-font-weight: 600;
$form-select-indicator-padding: 38px;
$form-select-border-radius: 7px !default;
$form-select-box-shadow: unset !default;
$input-box-shadow: unset !default;
$input-border-radius: 7px !default;
$input-group-addon-bg: $gray-200 !default;
$input-group-addon-border-color: $light !default;
$input-border-color: #dfe5ef !default;
$input-bg: transparent !default;
$input-color: $gray-500 !default;
$input-padding-y: 8px;
$input-padding-x: 16px;
$form-check-input-width: 1.313em;
$form-check-min-height: 1.313em;
$form-check-input-border: 1.25px solid #bdc3cd;
$input-disabled-bg: $gray-100 !default;
$form-check-input-checked-bg-color: var(--bs-primary
);

// Dropdown
$dropdown-border-radius: 7px !default;
$dropdown-width: 360px !default;
$dropdown-border-width: 0 !default;
$dropdown-item-padding-y: 10px !default;
$dropdown-link-hover-bg: $gray-100 !default;
$dropdown-link-active-bg: $gray-100;
$dropdown-link-active-color: $dark;
$dropdown-box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px,
  rgb(145 158 171 / 12%) 0px 12px 24px -4px;
$link-color: #2a3547 !default;
$dropdown-bg: $white !default;

// Modal
$modal-content-border-width: 0 !default;

// navbar
$navbar-light-color: rgba($gray-600, 1) !default;
$navbar-light-hover-color: rgba($primary, 1) !default;
$navbar-dark-color: rgba($gray-300, 1) !default;
$navbar-dark-hover-color: rgba($primary, 1) !default;